root {
    display: block;
}

.root {
}

.gridpane-filtre .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Narrow";
}

.vbox-filtre {
    -fx-background-radius: 30;
    -fx-background-color: linear-gradient(#566573,#212f3d);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.slider {
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(#A93226,#7b241c );
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
    -fx-major-tick-unit: 0.5;
    -fx-minor-tick-count: 0.0;
    -fx-max-width: 50.0;
    -fx-max-height: 720.0;
    -fx-min-width: 50.0;
    -fx-min-height: 460.0;
    -fx-orientation: vertical;
    -fx-show-tick-labels: true;
    -fx-show-tick-marks: true;
    -fx-snap-to-ticks: true;
    -fx-tick-label-fill: white;
}

.slider .label{
    -fx-tick-label-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}